<!DOCTYPE html>

{% load static %}

{% for interview in all_interviews %}

<div class="modal fade" id="viewInterviewModal{{interview.id}}" tabindex="-1" aria-labelledby="viewInterviewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="viewInterviewLabel">Interview</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col">
                            <h5>Company</h5>
                        </div>
                        <div class="col">
                            <h5>Position</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ interview.job.company }}
                        </div>
                        <div class="col">
                            {{ interview.job.job_title }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h5>Date</h5>
                        </div>
                        <div class="col">
                            <h5>Time</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ interview.start_date.date }}
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{ interview.start_date }}
                                </div>
                                <div class="col">
                                    {{ interview.end_date }}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <h5>Tasks</h5>
                        </div>
                        <div class="col">
                            <h5>Reminders</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="list-group list-group-flush" id="taskList">
                                {% for task in interview.tasks.all %}
                                <div class="list-group-item" id="task{{ task.id }}">
                                    <div class="row">
                                        <div class="col">
                                            {{ task.name }}
                                        </div>
                                        <div class="col checkbox">
                                            <input type="checkbox" id="taskCheckbox{{ task.id }}" value="{{ task.is_completed }}">
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="list-group list-group-flush" id="reminderList">
                                {% for reminder in interview.reminders.all %}
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            {{ reminder.offset }}
                                        </div>
                                        <div class="col">
                                            
                                            {{ reminder.unit }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endfor %}
