<!-- jobs/add_job.html -->

{% extends 'core/base_authenticated.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Add Job</h2>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <h3>Job Details</h3>
                {{ job_form|crispy}}
            </div>

            <div class="form-group">
                <h3>Location</h3>
                {{ location_form|crispy}}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}