<!DOCTYPE html>

{% extends 'core/base_authenticated.html' %}

<head>
    {% block title %}
        {% block subtitle %}
        {% endblock %}
    {% endblock %}
    {% block css %}
        {% block page_css %}
        {% endblock %}
    {% endblock %}
</head>

{% block content %}
    <nav class="navbar navbar navbar-expand-md navbar-light px-3">
        
        <!-- Toggler/collapsible Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/jobs/list/' %}active{% endif %}" href="{% url 'jobs:list' %}">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/jobs/download/' %}active{% endif %}" href="{% url 'jobs:download' %}">Download Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/jobs/settings/' %}active{% endif %}" href="{% url 'jobs:settings' %}">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block page_content %}
    {% endblock %}
    
    
{% endblock %}
