{% extends 'core/base_authenticated.html' %}




{% block content %}

{% load static %}
{% load filter %}
{% csrf_token %}
<meta name="csrf-token" content="{{ csrf_token }}">

<script src="{% static 'jobs/scripts/jquery.js' %}" defer></script>
<script src="{% static 'jobs/scripts/kanban.js' %}" defer></script>


<div class="container-fluid py-3">
    <div class="row">
        <div class="col">
            <h1 class="text-start">{{ board.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="addJobButton" data-bs-toggle="modal" data-bs-target="#createJobModal">
                Add Job
            </button>
        </div>
    </div>

    <div class="row board">
        <div class="lanes d-flex flex-nowrap overflow-auto py-3">
            {% for column in columns %}
                <div class="swim-lane card mx-2" id="{{ column.id }}">
                    <div class="card-header text-center text-truncate">
                        <h2 class="mb-0">{{ column.name }}</h2>
                    </div>
                    <div class="card-body d-flex flex-nowrap justify-content-center text-truncate">
                        {% for job in jobs|column_jobs:column %}
                        <div class="task card m-1 align-content-center" draggable="true" id="{{ job.id }}">
                            <div class="card-header text-center text-truncate">
                                <h3 class="mb-0">{{ job.job_title }}</h3>
                            </div>
                            <div class="card-body">
                                <p>{{ job.job_description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Create Job Modal -->
<div class="modal fade" id="createJobModal" tabindex="-1" aria-labelledby="createJobModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createJobModalLabel">Create Job</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% load crispy_forms_tags %}
                <form method="POST" id="addJobForm" action="{% url 'jobs:add_job' %}">
                    {% csrf_token %}
                    {{ job_form|crispy }}
                    {{ location_form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
