<!DOCTYPE html>

{% extends 'core/base_authenticated.html' %}



{% block content %}

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Jobs</h2>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="{% url 'add_job' %}">Add Job</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if request.GET.status == 'OP' or not request.GET.status %}active{% endif %}" href="?status=OP">Open</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.GET.status == 'AP' %}active{% endif %}" href="?status=AP">Applied</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.GET.status == 'SL' %}active{% endif %}" href="?status=SL">Shortlisted</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.GET.status == 'IN' %}active{% endif %}" href="?status=IN">Interview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.GET.status == 'OF' %}active{% endif %}" href="?status=OF">Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.GET.status == 'CL' %}active{% endif %}" href="?status=CL">Closed</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="jobs">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <strong>Job Title</strong>
                            </div>
                            <div class="col">
                                <strong>Company Name</strong>
                            </div>
                            <div class="col">
                                <strong>Action</strong>
                            </div>
                        </div>
                    </li>
                    {% for job in jobs %}
                    <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            {{ job.job_title|title }}
                        </div>
                        <div class="col">
                            {{ job.company_name|title }}
                        </div>
                        <div class="col">
                            <a class="btn btn-primary" href="{% url 'update_job' job.id %}">Update</a>
                        </div>
                    </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item">
                        No jobs found.
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    <!-- Pagination controls -->
    </div>
    <div class="card-footer">
        <div class="mt-4">
            {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?status={{ request.GET.status }}&page=1">First</a></li>
                            <li class="page-item"><a class="page-link" href="?status={{ request.GET.status }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}

                        <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?status={{ request.GET.status }}&page={{ page_obj.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?status={{ request.GET.status }}&page={{ page_obj.paginator.num_pages }}">Last</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}