<!DOCTYPE html>

{% extends 'jobs/base.html' %}

{% block page_content %}

<div class="container-fluid py-3">
    <div class="row">
        <div class="col">
            <h1>Job List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="addJobButton" data-bs-toggle="modal" data-bs-target="#addJobModal">
                Add Job
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" id="filterButton" data-bs-toggle="modal" data-bs-target="#filterModal">
                Filter
            </button>
        </div>
    </div>

    <div class="row py-3">
        <div class="col">
            <div class="list-group list-group-action">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <strong>Job Title</strong>
                        </div>
                        <div class="col">
                            <strong>Company</strong>
                        </div>
                        <div class="col">
                            <strong>Status</strong>
                        </div>
                        
                        <div class="col">
                            <strong>Location</strong>
                        </div>
                        <div class="col">
                            <strong>Archived</strong>
                        </div>
                        <div class="col">
                            <strong>Actions</strong>
                        </div>
                    </div>
                </div>
                {% for job in jobs %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">
                                {{ job.job_title }}
                            </div>
                            <div class="col">
                                {{ job.company }}
                            </div>
                            <div class="col">
                                {{ job.get_status_display }}
                            </div>
                            <div class="col">
                                {% if job.city or job.region or job.country %}
                                {% if job.city %}{{ job.city }},{% endif %}{% if job.region %}{{ job.region }},{% endif %}{% if job.country %}{{ job.get_country_display }}{% endif %}
                                {% else %}
                                -
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ job.archived }}
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#jobDetailModal{{ job.id }}">
                                            View
                                        </button>
                                    </div>
                                    {% if not job.applied and job.url %}
                                    <div class="col">
                                        <a href="{{ job.url }}" target="_blank" class="btn btn-sm btn-primary">Apply</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">
                                No jobs found.
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if page_obj.paginator.num_pages > 1 %}
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center align-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&lsaquo;</a>
                    </li>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                        {% if page == page_obj.number %}
                            <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                        {% elif page <= page_obj.number|add:9 and page >= page_obj.number|add:-9 %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">&rsaquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
</div>
{% include 'jobs/modals/detail.html' %}
{% include 'jobs/modals/add.html' %}
{% include 'jobs/modals/edit.html' %}
{% include 'jobs/modals/delete.html' %}
{% include 'jobs/modals/archive.html' %}
{% include 'jobs/modals/filter.html' %}
{% endblock %}