<!DOCTYPE html>

{% extends 'core/base_authenticated.html' %}

{% load static %}

{% block css %}
 <style>
    .task-card {
        width: 75%;
    }
   .container {
       justify-items: center;
       align-content: center;
   }
 </style>
{% endblock %}

{% block content %}

<div class="task-cards d-block">
    {% for task in tasks %}
    <div class="card task-card d-block" data-id="{{ task.id }}">
        <div class="card-header text-center">
            <h5 class="card-title">{{ task.name }}</h5>
        </div>
        <div class="card-body text-center">
            {% if task.type == "target" %}
            <p class="card-text">Applications Target: {{ task.target.current }}/{{ task.target.amount }}</p>
            {% endif %}
            {% if task.type == "interview" %}
            <p class="card-text">Interview: {{ task.interview.name }}</p>
            <p class="card-text">Date: {{ task.interview.start_date }}</p>
            {% endif %}
            {% if task.type == "job" %}
            <p class="card-text">Job: {{ task.job.job_title }}</p>
            <p class="card-text">Company: {{ task.job.company }}</p>
            {% endif %}
            {% if task.type != "target" %}
                <button class="btn btn-primary complete-task" data-id="{{ task.id }}">Complete</button>
            {% endif %}
        </div>
    </div>
    {% empty %}
    <h1>🥳 All tasks completed!</h1>
    {% endfor %}
</div>


{% endblock %}
