<div class="modal fade" id="createJobModal" tabindex="-1" aria-labelledby="createJobModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="createJobModalLabel">Create Job</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% load crispy_forms_tags %}
                <form method="POST" id="addJobForm" action="{% url 'jobs:add_job' %}">
                    {% csrf_token %}
                    {{ job_form|crispy }}
                    {{ location_form|crispy }}
                    <input type="hidden" id="user" name="user" value="{{ request.user }}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>