<!DOCTYPE html>

{% extends 'core/base_authenticated.html' %}

{% load static %}
<head>
    {% block title %}
    <title>Dashboard</title>
    {% endblock title %}
</head>

{% block content %}
<div class="row">
    <div class="col">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="row py-3">
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
                <h5>Jobs</h5>
            </div>
            <div class="card-body">
                <div class="list-group">
                    {% for job in jobs %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <strong>{{ job.job_title }}</strong>
                            </div>
                            <div class="col">
                                <strong>{{ job.get_status_display }}</strong>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <strong>No Jobs</strong>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <div class="row text-center">
                    <div class="col">
                        <a class="btn btn-sm btn-primary" href="{% url 'jobs:list' %}">Jobs List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col">
        <h2>Basic Stats</h2>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Statistic
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Total Applications
            </td>
            <td>
                <strong id="totalApplications"></strong>
            </td>
        </tr>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 

<script src="{% static 'accounts/scripts/basicStats.js' %}"></script>

<!--
<script src="{% static 'accounts/scripts/jobFunctionConversion.js' %}"></script>
<script src="{% static 'accounts/scripts/jobSourceConversion.js' %}"></script>
-->


{% endblock %}