<!DOCTYPE html>

<div class="modal fade" id="addJobModal" tabindex="-1" aria-labelledby="addJobModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addJobModalLabel">Add Job</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="addJobForm" action="{% url 'jobs:add' %}">
                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <h5>Company</h5>
                        </div>
                        <div class="col">
                            <h5>Job</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{ job_form.company|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ job_form.is_recruiter|as_crispy_field }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    {{ job_form.city|as_crispy_field }}
                                </div>
                                <div class="col">
                                    {{ job_form.region|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ job_form.country|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-8">
                                    {{ job_form.job_title|as_crispy_field }}
                                </div>
                                <div class="col-4">
                                    {{ job_form.job_function|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ job_form.description|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h5>Pay</h5>
                        </div>
                        <div class="col">
                            <h5>Contract</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{ job_form.min_pay|as_crispy_field }}
                                </div>
                                <div class="col">
                                    {{ job_form.max_pay|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ job_form.pay_rate|as_crispy_field }}
                                </div>
                                <div class="col">
                                    {{ job_form.currency|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{ job_form.work_contract|as_crispy_field }}
                                </div>
                                <div class="col">
                                    {{ job_form.location_policy|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h5>Application Info</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {{ job_form.note|as_crispy_field }}
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{ job_form.status|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ job_form.url|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ job_form.source|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="referrer" id="referrerInput">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>