<!DOCTYPE html>
{% load static %}
{% for job in jobs %}
    {% if job.id %}
    <div class="modal fade" id="jobDetailModal{{ job.id }}" tabindex="-1" aria-labelledby="jobDetailModalLabel{{ job.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <h5>Company</h5>
                        </div>
                        <div class="col">
                            <h5>Job</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <strong>Company:</strong> {{ job.company }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <strong>Recruiter:</strong> {{ job.is_recruiter }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <strong>City:</strong> {{ job.city }}
                                </div>
                                <div class="col">
                                    <strong>Region:</strong> {{ job.region }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <strong>Country:</strong> {{ job.get_country_display }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-8">
                                    <strong>Job Title:</strong> {{ job.job_title }}
                                </div>
                                <div class="col-4">
                                    <strong>Job Function:</strong> {{ job.get_job_function_display }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <strong>Description:</strong> {{ job.description }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h5>Pay</h5>
                        </div>
                        <div class="col">
                            <h5>Contract</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <strong>Min Pay:</strong> {{ job.min_pay }}
                                </div>
                                <div class="col">
                                    <strong>Max Pay:</strong> {{ job.max_pay }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <strong>Pay Rate:</strong> {{ job.pay_rate }}
                                </div>
                                <div class="col">
                                    <strong>Currency:</strong> {{ job.currency }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <strong>Work Contract:</strong> {{ job.work_contract }}
                                </div>
                                <div class="col">
                                    <strong>Location Policy:</strong> {{ job.location_policy }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h5>Application Info</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <strong>Note:</strong> {{ job.note }}
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <strong>Status:</strong> {{ job.get_status_display }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <strong>URL:</strong> {{ job.url }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <strong>Source:</strong> {{ job.get_source_display }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editJobModal{{ job.id }}" id="editJobButton">Edit</a>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#jobDeleteConfirm{{ job.id }}">Delete</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    {% if job.url and job.url != '' %}
                        <a href="{{ job.url }}" target="_blank" class="btn btn-primary">Apply</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endfor %}