<!DOCTYPE html>

{% load static %}

{% for key, val in edit_forms.items %}
    {% for interview in all_interviews %}
        {% if key == interview.id %}


        <div class="modal fade" id="editInterview{{interview.id}}" tabindex="-1" aria-labelledby="editInterviewLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title" id="editInterviewLabel">Edit Interview</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% load crispy_forms_tags %}
                        <form method="POST" id="editInterviewForm" action="{% url 'interviews:edit' interview.id %}">
                            {% csrf_token %}
                            {{ val|crispy }}

                            <h5>Reminders</h5>
                            <ul class="list-group" id="reminderList">
                                <!-- Reminders will be dynamically populated here -->
                                <li class="list-group-item text-center" id="addReminderAction">
                                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#addReminderModal">
                                        + Add Reminder
                                    </button>
                                </li>
                            </ul>

                            <button type="submit" class="btn btn-primary mt-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
    {% endfor %}
{% endfor %}