* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
     
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
     }
     
*::-webkit-scrollbar {
    display: none;
    }
    
.board {
    width: 100%;
    min-height: 60vh;
    overflow: auto;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    cursor: grab;
        }

/* ---- BOARD ---- */
.lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
    padding: 24px 32px;
        
    overflow: scroll;
    height: 100%;
        }

.open, .open.job-card.row.job-detail {
    color: #B0C4DE;
}

.applied {
    color: #87CEEB;
}

.shortlisted {
    color: #5DADE2;
}

.interview {
    color: #48C9B0;
}

.offer {
    color: #1ABC9C;
}

.rejected {
    color: #CD5C5C;
}

.closed {
    color: #7F8C8D;
}


.heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
        }

.card-header, .swim-lane, .card-body{
    border-radius: 5px;
    background-color: white;
    

}

.job-card {
    border-radius: 5px;
    --bs-card-border-color: black;
}



.card-header {
    border-bottom: 0.5px solid black;
}
        
.swim-lane {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-width: 1px;
    gap: 20px;
    border: 0.5px solid black;
    flex-shrink: 0;
    align-items: stretch;
        }

#open.card-header:-moz-drag-over {
    scale: 1.05;
    color: white;
    background-color: #B0C4DE;
        }
        
.task {
    cursor: move;
        }
        
.is-dragging {
    scale: 1.05;
    color: white;
        }