<!DOCTYPE html>

{% extends 'core/base_unauthenticated.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{ post.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ post.date_posted }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ post.content }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary" href="{% url 'core:register' %}">Register to AppTrack</a>
        </div>
    </div>
</div>
{% endblock content %}