<!DOCTYPE html>

{% extends 'core/base_authenticated.html' %}
{% load static %}
{% block content %}

<input type="hidden" id="interviews_json" value="{{ interviews }}">

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Interview Calendar</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="addInterviewButton" data-bs-toggle="modal" data-bs-target="#addInterview">
                Add Interview
            </button>
        </div>
    </div>
    <div id="calendar"></div>
</div>


{% include 'interview/modals/add_interview.html' %}
{% include 'interview/modals/add_alert.html' %}
{% include 'interview/modals/view_interview.html' %}


<!-- FullCalendar JS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script src="{% static 'interview/scripts/calendar.js' %}" defer></script>
<script src="{% static 'interview/scripts/addInterview.js' %}" defer></script>
<script src="{% static 'interview/scripts/interviewAlerts.js' %}" defer></script>
{% endblock content %}