<!DOCTYPE html>

<div class="modal fade" id="addAlertModal" tabindex="-1" aria-labelledby="addAlertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="addAlertModalLabel">Add Alert</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% load crispy_forms_tags %}
                <form id="addAlertForm">
                    {{ add_alert_form|crispy }}
                    <button type="button" class="btn btn-primary" id="saveAlert">Save Alert</button>
                </form>
            </div>
        </div>
    </div>
</div>