<!DOCTYPE html>

<div class="modal fade" id="viewInterview" tabindex="-1" aria-labelledby="viewInterviewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="viewInterviewLabel">Add Interview</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">

                </div>
                <div class="row">
                    <div class="col">
                        <h5>Tasks</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list-group">

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

