
{% extends 'core/base_unauthenticated.html' %}

{% block content %}
<div class="card w-50 m-auto">
    <div class="card-header">
        <h2 class="card-title">Contact Us</h2>
    </div>

    {% load crispy_forms_tags %}
    <form method="POST">
        <div class="card-body">
            {% csrf_token %}
            {{ form.honeypot }}
            {{ form|crispy }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
    </form>

</div>

{% endblock %}