
<!DOCTYPE html>
{% extends 'jobs/base.html' %}
<head>{% block subtitle %}<title>Jobs | Settings</title>{% endblock %}</head>
{% block page_content %}

  <div class="card w-50 m-auto">
    <div class="card-header">
      <h1>Jobs Settings</h1>
    </div>

    <div class="card-body">
      {% load crispy_forms_tags %}
      <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>

{% endblock %}